 /* Styling for the menu */

ul.menu {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #aa3131; 
}

li.menu-item {
    float: right;

}
li.menu-item a {
    display: block;
    color: rgb(245, 243, 253); 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
     font-size:large;
}

li.menu-item a:hover {
    background-color: #0b0b0b; 
}
body {
    background-color: #080808; 
}

 /* Styling for the banner */
 header {
    background-color: #f2e8e8; 
    
    padding: 20px;
    text-align: center;
}

h1.banner-title {
    font-size: 30px; /* Change the font size  */
    color: #2a2aac; /* Change the text color  */
    margin: 0;
}

p.banner-description {
    font-size: 16px; /* Change the font size  */
    color: #2830c8; /* Change the text color  */
    margin: 10px 0 0 0;
}



     /* Styling for the body */
     
     .container {
        display: flex;
        justify-content: space-between;
      }
  
      .left-div,
      .right-div {
        flex-basis: 20%;
        background-color: rgb(246, 236, 236);
        padding: 20px;
      }
  
      .middle-div {
        flex-basis: 40%;
        background-color: lightblue;
        padding: 20px;
      }


     /* Styling for the footer */
     footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #aa3131; 
        padding: 20px;
        text-align: center;
      }


    footer p {
        
  
        text-align: center;
    }


    .image {
        width:100%;
        height: 80%;
        object-fit:cover;
        
    }


         /* Styling for the card */

    .card {
        width: 300px;
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      
      .logo {
        width: 100px;
        margin-bottom: 20px;
      }
      
      .company-name {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      
      .tagline {
        font-style: italic;
        color: #777;
        margin-bottom: 20px;
      }
      
      .contact-info {
        color: #555;
        margin-bottom: 5px;
      }
      
      .contact-info:last-child {
        margin-bottom: 0;
      }
      