.social-media-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .social-media-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .social-media-list .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: lightgray;
    border-radius: 50%;
  }

  .social-media-list .icon.facebook {
    background-color: #3b5998;
  }

  .social-media-list .icon.instagram {
    background-color: #E1306C;
  }

  .social-media-list .icon.linkedin {
    background-color: #0e76a8;
  }

  .social-media-list .icon.github {
    background-color: #0c0c0c;
  }

  .social-media-list .link {
    color: #555;
    text-decoration: none;
    font-weight: bold;
  }
